*.aux
*.bbl
*.blg
*.chi
*.chs.h
*.dvi
*.dyn_hi
*.dyn_o
*.eventlog
*.fdb_latexmk
*.fls
*.hi
*.hp
*.idx
*.ilg
*.ind
*.log
*.o
*.out
*.prof
*.swp
*.synctex
*.synctex.gz
*.toc
*~
.HTF/
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
TAGS
\#*\#
_minted*
cabal-dev
cabal.project.local
cabal.sandbox.config
dist
dist-*
pdte/
